.name-4xl{
    position: absolute;
    top: 0px;
    right: 5px;
}
.logout1{
    position: absolute;
    top: 50px;
    right:20px;
}
.login1{
    position: absolute;
    top: 70px;
    right: 20px;
}
.register1{
    position: absolute;
    top: 90px;
    right: 20px;
}
