
#1 {
    margin-top: 20px;

}
#2 {
    margin-top: 20px;

}
.containers {
    margin-bottom: 200px;
    margin-top: 20px;
}

.searchBar {

    width: 15%;

    margin: 0 auto;
}

.welcome {
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}